.vs/

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.ipa

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

SourceArt/**/*.png
SourceArt/**/*.tga

Binaries/*
Plugins/*/Binaries/*

Build/*

!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

!Build/**/*.ico

*_BuiltData.uasset

Saved/*

Intermediate/*
Plugins/*/Intermediate/*

DerivedDataCache/*

!Build/IOS/Resources/
Build/IOS/Resources/*
!Build/IOS/Resources/Graphics/
Build/IOS/Resources/Graphics/*
!Build/IOS/Resources/Graphics/*.png
!Build/Android/res/
Build/Android/res/*
!Build/Android/res/*/
Build/Android/res/*/*
!Build/Android/res/*/*.png

Plugins/**/Binaries/*
Plugins/**/Intermediate/*

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a

*.exe
*.out
*.app
Output
Engine/x64
Client/x64
.vs

/Content/*

!/Content/unRealRPG/
!/Content/Destructible/
!/Content/Mixamo/
!/Content/VFX/

!/Content/unRealRPG/**
!/Content/Destructible/**
!/Content/Mixamo/**
!/Content/VFX/**
